*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:#000814;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

overflow:hidden;

}

.container{

text-align:center;

}

h1{

font-size:48px;

letter-spacing:8px;

color:#00d9ff;

text-shadow:0 0 25px cyan;

margin-bottom:40px;

}

#orb{

width:180px;

height:180px;

border-radius:50%;

margin:auto;

background:radial-gradient(circle,#00ffff,#005eff,#001d3d);

box-shadow:

0 0 20px cyan,

0 0 60px #00bfff,

0 0 120px #0066ff;

animation:pulse 2s infinite;

}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.08);

}

100%{

transform:scale(1);

}

}

#status{

margin-top:35px;

font-size:22px;

color:#7cecff;

}

button{

margin-top:30px;

padding:15px 40px;

font-size:22px;

border:none;

border-radius:40px;

background:#00bfff;

color:white;

cursor:pointer;

box-shadow:0 0 20px cyan;

transition:.3s;

}

button:hover{

transform:scale(1.1);

}

#chat{

margin-top:30px;

font-size:18px;

max-width:400px;

margin-left:auto;

margin-right:auto;

color:#b8ecff;

}
#info{

margin-top:25px;

color:#7cecff;

font-size:18px;

text-shadow:0 0 10px cyan;

}
